body {
    /* positioning */
    padding-top: 0;

    /* Visual */
    background: rgb(241, 243, 255);
}

.main {
    /* positioning */
    margin: 0 12%;
    padding: 1% 3%;

    /* Visual */
    background: rgb(247, 247, 255);
}

.mainInfo {
    /* positioning */
    position: relative;
    padding: 3% 10% 0px 4%;
    margin-bottom: 11%;

    /* Box-model */
    height: 150px;
}

.avatar {
    /* positioning */
    position: absolute;
    right: 5%;
    top: 20%;

    /* Box-model */
    height: 100%;
}

.name { margin-bottom: 1.5%; }

.myself {
    /* positioning */
    margin-top: 5%;

    /* Box-model */
    width: 62%;
}

.listName { margin: 0 0 3px 4%; }

.softSkills,
.hardSkills,
.contacts {
    /* positioning */
    margin: 7px 0;
    padding-left: 9%;
}

li { margin: 3px 0; }

.code_example {
    /* positioning */
    margin: 5% 0 6% 0;

    /* Visual */
    background: rgb(229, 233, 255);
    border-radius: 7px;
}

.footer { 
    /* positioning */
    margin: 0 12%;
    padding: 1% 3%;
    position: relative;

    /* Box-model */
    display: flex;
    height: 60px;
}

.footer-elem {
    /* positioning */
    position: absolute;
    right: 3%;

    /* Box-model */
    width: 10%;
}

.header { height: 40px; }

.githubLink {
    /* Positioning */
    right: 27%;
    top: 45%;

    /* Typography */
    text-decoration: none;
}

.year {
    /* Positioning */
    right: 15%;
    top: 45%;
}

.courseLink { top: 20%; }

.logo {
    /* Box-model */
    width: 100%;
    height: 50px;
}

h5 { margin-bottom: 1%;}