body {
    background: rgb(241, 243, 255);
    padding-top: 0;
}

.main {
    margin-left: 12%;
    margin-right: 12%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: rgb(247, 247, 255);
}

.mainInfo {
    height: 150px;
    position: relative;
    padding: 3% 10% 0px 4%;
    margin-bottom: 6%;
}

.avatar {
    position: absolute;
    height: 90%;
    right: 8%;
    top: 20%;
}

.name { margin-bottom: 1.5%; }

.myself {
    margin-top: 5%;
    width: 62%;
}

.listName {
    margin-bottom: 3px;
    margin-left: 4%;
}

.softSkills,
.hardSkills {
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 9%;
}

li {
    margin-top: 3px;
    margin-bottom: 3px;
}

.code_example {
    background: rgb(229, 233, 255);
    border-radius: 7px;
    margin-top: 5%;
    margin-bottom: 6%;
}

.footer { height: 60px; }

.header { height: 40px; }